<div class="audio">
    <i #playEl (click)="play()" *ngIf="!isPlay" class="fa fa-play" aria-hidden="true"></i>
    <i #stopEl (click)="stop()" *ngIf="isPlay" class="fa fa-stop" aria-hidden="true"></i>
    <i #nextEl (click)="next()" class="fa fa-fast-forward" aria-hidden="true"></i>
</div>