a
  text-align: center
  border-bottom: 1px solid rgba(150, 150, 150, 0.38)
  padding: 25px
  text-decoration: none
  color: #a5a5a5
  display: block
  transition: all .3s
  .icon
    font-size: 1.6rem
    margin-bottom: 5px
    display: block
  &:hover
    background: #141327
    color: #e8e8e8
  &.active
    color: #ffffff
    background: #2e2d4e