<nav #navEl class="PageNav">
    <perfect-scrollbar class="PAGE_NAV_CONTAINER" [config]="config">
        <my-sidebar-link *ngFor="let link of links" [link]="link"></my-sidebar-link>
    </perfect-scrollbar>
</nav>
<i #burgerEl id="PageNavBurger" (click)="togglePageNav()" class="fa fa-bars" aria-hidden="true"></i>

<div #overflowEl (click)="togglePageNav()" class="PageNav__overflow"></div>
