@import "./../../../style/vars"
@import "./../../../style/mixed"

#PageNavBurger
  position: fixed
  top: 15px
  left: 15px
  z-index: 5
  font-size: 2rem
  cursor: pointer
  display: none
  padding: 5px 10px
  background: #0e4c6f
  border-radius: 10px
  &:hover
    background: #0f6b9b

.PAGE_NAV_CONTAINER
  height: 100vh

.PageNav
  position: fixed
  left: 0
  top: 0
  bottom: 0
  width: $site-nav-width
  background: #0e0d19
  border-right: 2px #454545 solid
  z-index: 10
  transition: transform .5s
  &.page-nav-show
    transform: translateX(0)

.PageNav__overflow
  position: fixed
  top: 0
  left: $site-nav-width
  width: 100%
  height: 100%
  display: none
  z-index: 100

@media screen and (max-width: $tablet-width-max)
  #PageNavBurger
    display: block
  .PageNav
    transform: translateX(-$site-nav-width)
  .PageNav__overflow
    &.show
      display: block
