.author
  max-width: 200px
  margin: 0 auto
  &__img
    border-radius: 15px
    padding-bottom: 25px

  &__details
    font-size: 1.15em
    margin: auto
  &__detail
    padding: 12px 0
    list-style: none

  &__question
    width: 50%
    text-align: left
    float: left
  &__answer
    width: 50%
    text-align: right
    float: right
  &__communications
    padding-top: 10px
    text-align: center
  &__item
    display: inline-block
    padding: 10px
    &:first-child
      padding-left: 0
    &:last-child
      padding-right: 0
  &__link
    font-size: 30px

.link--facebook
  color: #3b5998
  &:hover
    color: #4771bc

.link--github
  color: #333333
  &:hover
    color: #636363

.link--mail
  color: #dc483c
  &:hover
    color: #ff4b3e
