.box
  display: block
  position: fixed
  top: 0
  left: 0
  width: 100%
  text-align: center
  font-size: 1.5rem
  color: #fff
  z-index: 999
  background: #1e3d47
  padding: 15px
.box__item
.box__link
  color: #97dfff


.-no-padding-
  padding: 0 !important

.-full-width-
  width: 100% !important

.-text-center-
  text-align: center !important
.-text-right-
  text-align: right !important
.-text-left-
  text-align: left !important

.-text-justify-
  text-align: justify !important

.-hidden-
  display: none !important

.copyright-note
  text-align: center
  position: absolute
  bottom: 2%
  left: 50%
  transform: translateX(-50%)

.copyright-list
  margin: auto
  li
    list-style: square
    margin: 15px 0

