@import "vars"

.flex
  display: flex
  width: 100%
  &--wrap
    flex-wrap: wrap
  &--center
    justify-content: center
    align-items: center
    align-content: center
  &--center-justify
      justify-content: center
  &--center-items
      align-items: center
  &--center-align
      align-content: center
  &--center-content
      align-content: center
  &--padding-x1
    [class^='flex__xs'], [class^='flex__sm'], [class^='flex__md'], [class^='flex__lg']
      padding: 2%
  &--padding-x2
    [class^='flex__xs'], [class^='flex__sm'], [class^='flex__md'], [class^='flex__lg']
      padding: 4%

  @for $i from 1 through $grid-size
    &__xs-#{$i}
      width: 100% / $grid-size * $i
    &__xs-order-#{$i}
      order: $i

  @media screen and (min-width: $mobile-width-max)
    @for $i from 1 through $grid-size
      &__sm-#{$i}
        width: 100% / $grid-size * $i
      &__sm-order-#{$i}
        order: $i

  @media screen and (min-width: $tablet-width-max)
    @for $i from 1 through $grid-size
      &__md-#{$i}
        width: 100% / $grid-size * $i
      &__md-order-#{$i}
        order: $i

  @media screen and (min-width: $laptop-width-max)
    @for $i from 1 through $grid-size
      &__lg-#{$i}
        width: 100% / $grid-size * $i
      &__lg-order-#{$i}
        order: $i