@import "mixed"
@import "vars"

.view
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  align-content: center
  min-height: 100%
  min-height: 100vh
  padding: 5%
  position: relative
  margin-left: $site-nav-width
  +tablet-max()
    margin-left: 0

.view__header
  width: 100%
  margin-bottom: 35px
  &--hr
    position: relative
    &:after
      display: block
      content: ''
      position: absolute
      bottom: 0
      left: 40%
      width: 20%
      height: 1px
      background-color: #fff

.view__title
  margin-bottom: 0
  width: 100%
  text-align: center
  font-size: 3rem
  font-family: 'Cutive', serif
  line-height: 1.2

.view__body
  width: 100%

.view__footer
  width: 100%

.view__desc
  width: 100%
  text-align: center
  margin: 5px auto 15px

+tablet-max()
  .view__title
    font-size: 2rem
  .view__desc
    padding: 40px 15px 30px
    margin-left: 0

+mobile-max()
  .view__header
    padding-top: 60px

