@import url('https://fonts.googleapis.com/css?family=Cutive|Lato&subset=latin-ext')

*, *:after, *:before
  box-sizing: border-box

body, html
  max-width: 100%
  width: 100%
  font-size: 16px

body
  color: #fff
  position: relative
  z-index: 0
  font-family: 'Lato', sans-serif
  overflow: hidden
  max-width: 1600px
  margin-left: auto
  margin-right: auto
  background: #000

a
  color: #008ec6
  text-decoration: none
  cursor: pointer
  &:hover
    color: #00b8c8

strong
  font-weight: bolder

p
  line-height: 1.4rem

$heading: 3, 2.5, 2, 1.5, 1, .8
@for $i from 1 through length($heading)
  h#{$i}
    font-size: nth($heading, $i)*1rem
    margin-bottom: nth($heading, $i) * 0.6rem
    margin-top: nth($heading, $i) * 0.3rem

img
  max-width: 100%

ul, ol
  margin-left: 25px

ul li
  list-style: circle

ol li
  list-style: decimal

li
  line-height: 1.4em

//======================
//          INPUT
//======================
input, textarea, button[type="submit"]
  resize: vertical
  display: block
  width: 100%
  margin: 5px 0
  padding: 10px 20px
  border: 1px solid #b7b7b7
  border-radius: 3px
  color: rgba(0, 142, 198, 1)
  text-overflow: clip
  font-size: 1.2em
  background: rgba(22, 19, 19, 0.85)
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2) inset
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.66)

  &:focus
    outline: none

input[type="submit"], button[type="submit"]
  transition: background .4s
  cursor: pointer
  &:hover
    background: rgba(22, 19, 19, 1)

input[disabled], button[disabled]
  opacity: .3
  cursor: not-allowed

label
  font-size: 1.2em
  cursor: pointer

input.ng-invalid, textarea.ng-invalid
  border: rgba(255, 0, 8, 0.31) solid 2px

input.ng-valid, textarea.ng-valid
  border: rgba(40, 255, 40, 0.31) solid 2px
