@import "vars"
@import "mixed"

.wall
  background: rgba(0, 0, 0, .9)
  border-radius: 10px
  padding: 15px
  margin-bottom: 10px
  margin-top: 10px

  & ~ &
    margin-top: 50px

  &__header
  &__footer
    text-align: right
    margin-top: 35px

  &__title
    font-size: 2.1em
    +tablet-max()
      font-size: 1.5em

  &__text
    text-align: justify
    @media screen and (max-width: $mobile-width-max)
      font-size: 1rem
      line-height: 1.3rem