.button
  text-align: center
  color: #ffffff
  position: relative
  text-transform: uppercase
  display: inline-block
  max-width: 250px
  width: 100%
  line-height: 45px
  letter-spacing: .4rem
  transition: color .5s
  cursor: pointer


.button--rect
  margin-top: 15px
  svg
    height: 45px
    left: 0
    position: absolute
    top: 0
    width: 100%
  rect
    fill: none
    stroke: #fff
    stroke-width: 2
    stroke-dasharray: 422, 0
    transition: all 1s cubic-bezier(0.65, 0.05, 0.36, 1)

.button__text

.button--disable
  color: rgba(255, 255, 255, .1)
  cursor: not-allowed

.button--allow
  &:hover
    color: #e1ebe2
  &.button--rect
    &:hover
      rect
        stroke-width: 5
        stroke-dasharray: 87, 209
        stroke-dashoffset: 67