<span class="button button--rect" [ngClass]="{'button--disable': disable, 'button--allow': !disable }">
    <svg>
        <rect x="0" y="0" width="100%" height="100%"></rect>
    </svg>
    <span class="button__text">
        <ng-content></ng-content>
    </span>
</span>