<section class="view view--home">
    <header class="view__title">
        <h1 class="view__title view__title--slogan">Tworzenie stron internetowych na miarę XXI wieku!</h1>
    </header>
    <footer class="view__footer -text-center-">
        <ab-button [routerLink]="['/contact']">Oferta</ab-button>
        <ab-button [routerLink]="['/offer']">Kontakt</ab-button>
    </footer>
</section>